doctype html
html
  head
    title #{title}
    link(rel="stylesheet", href="/styles/dashboard.css")
    link(rel="stylesheet", href="/styles/header.css")
  body
    include ../partials/header.pug
    div.container
      h1 Dashboard
      div.user-info
        h2 Welcome, #{user.name}!
        p Username: #{user.username}
        p Student Number: #{user.studentNumber}
      div.bookings
        h2 Your Bookings
        if bookings.length > 0
          table
            thead
              tr
                th Court
                th Game
                th Time
                th Actions
            tbody
              each booking in bookings
                tr
                  td #{booking.court}
                  td #{booking.game}
                  td #{new Date(booking.startTime).toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' })} - #{new Date(booking.endTime).toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' })}
                  td
                    form(method='POST', action=`/dashboard/bookings/${booking._id}?_method=DELETE`)
                      button(type='submit') Cancel
        else
          p No bookings yet.
      div.actions
        a(href='/booking') Book a Court